[Unit]
Description=Aria2 Service
After=network.target

[Service]
ExecStart=/usr/bin/aria2c --enable-rpc --rpc-listen-all --rpc-allow-origin-all --conf-path=/etc/aria2.conf

[Install]
WantedBy=default.target
